<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Auto Image Flipper.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>895E581F1CEF6E9C00352E5B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>895E58331CEF6E9C00352E5B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>895E583E1CEF6E9C00352E5B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
